@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Enchilada';
  src: url('fonts/Enchilada.ttf');
}

@font-face {
  font-family: 'MouseMemoirs-Regular';
  src: url('fonts/MouseMemoirs-Regular.ttf');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('fonts/Gotham-Book.otf');
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham-Black';
  src: url('fonts/Gotham-Black.otf');
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  font-family: 'Gotham-Medium';
  background: white;
  color: #26323a;
}

.startingPageBg{
  width:100vw;
  height:100vh;
  background: url(images/background.svg);
  background-size: 1000px 1000px;
}

.loginFormContainer, .forgotPassFormContainer, .registerFormContainer{
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 450px;
  max-height: 500px;
  width:100%;
  height:100%;
  transform: translate(-50%, -50%);
  border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
  background-color: #c61f7f;
  border: 5px solid white;
  overflow:hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.registerFormContainer{
  max-height: 700px;
}

.loginFormContainer::before, .forgotPassFormContainer::before, .registerFormContainer::before{
  content: '';
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  background: url(images/background.svg) no-repeat;
  background-position: center;
  opacity: 0.1;
  width: 100vw;
  height: 100vh;
  border-radius: 30px;
  pointer-events: none;
  z-index: -2;
}

.loginText, .registerText{
  font-family: 'Enchilada';
  color: #e5a369;
  text-shadow: 2px 2px #f9e8d9;
  font-size: 4.5cqw;
  text-align:center;
}

.loginForm{
  width:60%;
  gap:2.8vw;
}

.forgotPassForm{
  display:flex;
  flex-direction: column;
  width:60%;
  gap:2.8vw;
}

.forgotPasswordText{
  font-family: 'Enchilada';
  color: #e5a369;
  text-shadow: 2px 2px #f9e8d9;
  font-size: 3.5cqw;
  line-height: 1;
  text-align: center;
}

.registerForm{
  display:flex;
  flex-direction: column;
  width:60%;
  gap:1.5vw;
}

.inputsContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.inputsContainer div{
  position:relative;
}

.inputsContainer div img {
  color: #3b444b;
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  width: 8%;
}

.inputsContainer input{
  width:100%;
}

form input{
  font-size: 1.5cqw;
  padding: 8px 16px;
  border-radius: 8px;
  border: 3px solid #990029;
  outline: none;
}

form input:focus{
  border-color: #ff9db1;
}

.blueBtn{
  border-radius: 15% 17% 16% 28% / 73% 32% 83% 51%;
  border: 4px solid white;
  font-size: 20px;
  letter-spacing: 0.1em;
  background-color: #0055ff;
  color: #ffffff;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  margin-bottom:3%;
}

.blueBtn:hover{
  background-color: #0013de;
}

.blueBtnLoading{
  background-color: #0013de;
}

.redBtn{
  border-radius: 15% 17% 16% 28% / 41% 30% 55% 35%;
  border: 4px solid white;
  font-size: 20px;
  letter-spacing: 0.1em;
  background-color: #ef4444;
  color: #ffffff;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.redBtn:hover{
  background-color: #c30010;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.space{
  height:80px;
}
.navContainer{
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.searchContainer{
  position:relative;
  width:100%;
}

.searchContainer img{
  position:absolute;
  width: 16px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.searchContainer input[type="search"]{
  border-radius: 12px;
  background-color: #f3f3f3;
  padding: 8px 10px 8px 32px;
  height: 45px;
  width:100%;
}

.navProfilePictureContainer{
  width: 38px;
}

.navProfilePicutre{
  border-radius: 50%;
  overflow:hidden;
  height: 38px;
  width: 38px;
  background-color: #f3f3f3;
}

.dropdownButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border-radius: 20px;
}

.dropdownButton:hover{
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 15%);
}

.dropdownButton.open{
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 15%);
}

.arrowDown{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: translateY(-10%) rotate(45deg);
}

.dropdownContainer{
  position:relative;
  z-index: 1;
}

.dropdownContentContainer{
  position: absolute;
  top: 70px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 15%);
}

.dropdownContent{
  display:flex;
  font-size: 14px;
  flex-direction: column;
  margin-left: 10px;
  height: 100%;
  justify-content: space-evenly;
}

.dropdownContent a, .dropdownContent button{
  padding: 3px 0px 3px 10px;
  text-align: left;
  border-radius: 5px;
}

.dropdownContent a:hover{
  background-color:#f3f3f3;
  width: calc(100% - 10px)
}

.dropdownContent button:hover{
  background-color:#ff6060;
  color:white;
  width: calc(100% - 10px)
}

.profileWrapper{
  background-color:#a9b0b4;
  font-family: 'Gotham-Book';
  margin: 20px 20px 10px 20px;
}

.profileContainer{
  background-color: white;
  display:grid;
  grid-template-rows: auto auto;
  height: 100%;
  width: 100%;
}

.profileInfo{
  position:relative;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  height:100%;
  gap:10px;
}

.profileInfo::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 10px;
  border-bottom: solid #bababa 1px;
}

.profileInfo h1{
  font-family: 'Gotham-Medium';
  font-size: 1.2cqw;
}

.profileInfo h2{
  font-family: 'Gotham-Medium';
  font-size: 0.85cqw;
  text-align: center;
  line-height: 1.6;
  max-width: 35%;
}
.profileInfo p{
  font-family: 'Gotham-Book';
}

.profilePicutre{
  border-radius: 50%;
  overflow:hidden;
  height: 10vw;
  width: 10vw;
  background-color: #f3f3f3;
}

.profileInfo::before{
  width:35%;
}

.profileSocialMediaContainer{
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: -7px;
  justify-content: center;
}

.profileSocialMediaContainer img{
  width:auto;
  height:30px;
}

.searchRecipesContainer{
  position:relative;
  width:100%;
  padding: 0 20px;
}

.searchRecipesContainer img{
  position:absolute;
  width: 16px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.searchRecipesContainer input[type="search"]{
  border-radius: 12px;
  background-color: #f3f3f3;
  padding: 8px 10px 8px 32px;
  height: 45px;
  width:100%;
}

.newUserButtons{
  display: flex;
  gap: 20px;
}

.newUserButtons button{
  padding: 5px 20px;
  border-radius: 5px;
  color:white;
  background-color: #26323a;
}

.categories{
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  margin-bottom: 20px;
  margin-top: 2px;
  gap: 20px;
}

.categories span{
  position:relative;
  padding: 5px 0px 0px 0px;
  font-family: 'Gotham-Medium';
}

.categories span::after{
  position: absolute;
  width: 40%;
  height: 1.5px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #0c1216;
}

.masonryContainer{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  margin: 0 20px 20px 20px;
  gap: 15px;
}

.masonryColumn{
  display:flex;
  flex-direction: column;
  width:100%;
  gap: 15px;
}

.masonryImg{
  max-width: 100%;
}

.masonryImg img{
  border-radius: 20px;
}

.masonryImg h1{
  font-family: 'Gotham-Medium';
  margin: 5px 0 12px 6px;
}

.recipeContainer{
  position: absolute;
  z-index: 10;
  display:flex;
  height:100vh;
  padding:2% 5%;
  background-color: #00000085;
  top:0;
}

.recipeLeftSideWrapper{
  min-width: 35%;
  padding: 20px 40px 20px 40px;
  background-color: white;
  font-size: 14px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.recipeUserContainer{
  display:flex;
  align-items: center;
  margin-bottom: 30px;
  gap:6px;
}

.recipeProfilePictureContainer{
  width: 25px;
}

.recipeProfilePicutre{
  border-radius: 50%;
  overflow:hidden;
  height: 25px;
  width: 25px;
  background-color: #f3f3f3;
}

.recipeUserContainer h2{
  font-family: 'Gotham-Book';
  font-weight: bold;
}

.recipeLeftSideWrapper h1{
  font-family: 'Gotham-Black';
  font-size: xx-large;
  margin-bottom: 50px;
}

.recipeImageContainer{
  height: 100%;
  max-height: 70%;
  width: 100%;
}

.recipeImageContainer img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.recipeMacroContainer{
  display: flex;
  width: 100%;
  align-items: flex-end;
  white-space: nowrap;
  margin-bottom: 20px;
}

.doughnutChart{
  height: 100px !important;
  width: 100px !important;
  margin-left: -1.5px;
}

.macroInfo{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  flex-direction: column;
}

.macroInfoCalories{
  height: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.carbsColor{
  height: 5px;
  border-radius: 3px;
  width: 36px;
  background-color: #ff829d;
}

.proteinColor{
  height: 5px;
  border-radius: 3px;
  width: 36px;
  background-color: #5eb4ef;
}

.fatColor{
  height: 5px;
  border-radius: 3px;
  width: 36px;
  background-color: #ffd878;
}

.caloriesColor{
  height: 5px;
  border-radius: 3px;
  width: 36px;
  background-color: #a9b0b4;
}

.nutritionContainer{
  display:flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap:10px;
}

.macroContainer{
  display:flex;
  justify-content: space-between;
}

.nutritionContainer p{
  font-family: 'Gotham-Book';
  font-size: 13px;
}

.recipeInformationContainer tbody{
  font-size: 14px;
}

.recipeRightSideWrapper{
  width:auto;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: none; 
}

.recipeInstructionsContainer{
  padding: 40px 20px 40px 0;
}

tbody{
  font-size: 14px;
}

.recipeInstructionsContainer table{
  border-spacing: 0 10px;
  border-collapse: separate;
}

.recipeIngredientsContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.mealsContainer{
  display:flex;
  align-items: center;
  gap: 5px;
  margin-left: 0.5px;
}

.mealsContainer img{
  height: 24px;
  width: auto;
}

.mealsContainer p{
  font-size: larger;
}

.recipeIngredientsContainer table{
  border-spacing: 0 5px;
  border-collapse: separate;
}

.recipeTitle{
  font-family: 'Gotham-Bold';
  font-size: larger;
}

.recipeIngredientsContainer td{
  padding-right: 25px;
}

.recipeIngredientsContainer td.amount{
  white-space: nowrap;
}

.recipeInstructionsContainer td{
  padding-right: 15px;
}

.editProfileWrapper{
  background-color:#a9b0b4;
  font-family: 'Gotham-Book';
  margin: 20px 20px 10px 20px;
}

.editProfileContainer{
  background-color: white;
  display:grid;
  grid-template-rows: auto auto;
  height: 100%;
  width: 100%;
}

.editProfileInfo{
  position:relative;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  height:100%;
  gap:10px;
}

.editProfileInfo::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 10px;
  border-bottom: solid #bababa 1px;
}

.editProfileInfo h1{
  margin-top:15px;
}

.editProfilePicutre{
  position:relative;
  border-radius: 50%;
  overflow:hidden;
  height: 160px;
  width: 160px;
  background-color: #f3f3f3;
  cursor: pointer;
}

.editProfilePictureCanvas{
  position: absolute;
}

.editPreviewProfilePicture{
  filter: contrast(0.1);
  height:160px;
  object-fit: cover;
  object-position: center;
}

.editProfilePicutre .editCamera{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
}

.editInputContainer{
  position:relative;
  font-family: 'Gotham-Medium';
  font-size: 0.85cqw;
}

.editProfileInfo label{
  position:absolute;
  font-size: 16px;
  font-family: 'Gotham-Medium';
  top: 50%;
  left: -15px;
  transform: translate(-100%, -50%);
}

.editInputContainer input{
  font-family: 'Gotham-Medium';
  font-size: 1.2cqw;
  text-align: center;
  width: 550px;
  max-width: 550px;
  border: 2px solid #bababa;
  border-radius: 5px;
  padding: 2px 0 2px 9px;
  box-sizing: border-box;
}

.editProfileInfo input::placeholder, .editProfileInfo textarea::placeholder {
  font-style: italic;
  font-family: 'Gotham-Medium';
}

.editTextareaContainer{
  position:relative;
}

.editProfileInfo textarea{
  font-family: 'Gotham-Medium';
  font-size: 0.85cqw;
  text-align: center;
  line-height: 1.6;
  padding: 4px 3px;
  height: 120px;
  width: 550px;
  max-width: 550px;
  border: 2px solid #bababa;
  border-radius: 5px;
  resize: none;
}

.editSocialMediaWrapper{
  display:flex;
  gap: 10px;
  flex-direction: column;
}

.editProfileInfo h1{
  font-family: 'Gotham-Medium';
}

.editSocialMediaContainer{
  position:relative;
}

.editSocialMediaContainer input {
  font-family: 'Gotham-Medium';
  font-size: 0.85cqw;
  width: 550px;
  max-width: 550px;
  border: 2px solid #bababa;
  border-radius: 5px;
  padding: 4px;
  box-sizing: border-box;
}

.editPasswordContainer{
  position: relative;
}

.editPasswordContainer input {
  font-family: 'Gotham-Medium';
  font-size: 0.85cqw;
  width: 550px;
  max-width: 550px;
  border: 2px solid #bababa;
  border-radius: 5px;
  padding: 4px;
  box-sizing: border-box;
}

.editForm button[type="submit"]{
  padding: 5px 20px;
  border-radius: 5px;
  width: 550px;
  max-width: 550px;
  color:white;
  background-color: #26323a;
}

.profileInfo p{
  font-family: 'Gotham-Book';
}

/* Tablet Mode */ /* Tablet Mode */ /* Tablet Mode */ /* Tablet Mode */ 

@media screen and (max-width: 1024px){

.loginFormContainer, .forgotPassFormContainer {
  max-width: 450px;
  max-height: 500px;
  width: 90%;
  height: 100%;
}

.loginText, .registerText {
  font-family: 'Enchilada';
  color: #e5a369;
  text-shadow: 2px 2px #f9e8d9;
  font-size: 15.5cqw;
  text-align:center;
}

.forgotPasswordText {
  font-size: 14.5cqw;
}

.form {
  width: 70%;
}

form input {
  font-size: 4.5cqw;
  padding: 8px 16px;
  border-radius: 8px;
  border: 3px solid #990029;
  outline: none;
}

}