@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham-Book";
  src: url("fonts/Gotham-Book.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham-Black";
  src: url("fonts/Gotham-Black.otf");
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Gotham-Medium";
  background: white;
  color: #26323a;
  font-size: clamp(10px, 2cqw, 14px);
}

@keyframes pulse {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loading-spinner {
  position: absolute;
  width: clamp(80px, 2vw, 100px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  animation: pulse 1.3s ease-in-out infinite;
}

.cookie-consent-wrapper {
  position: fixed;
  display: flex;
  right: 0;
  bottom: 0;
  background: white;
  padding: 20px;
  gap: 20px;
  align-items: center;
  z-index: 99;
}

.cookie-consent-wrapper p {
  font-size: 12px;
  max-width: 400px;
}

.cookie-consent-wrapper .accept-btn {
  color: white;
  background: #5067e7;
  padding: 10px 20px;
  height: max-content;
}

.cookie-consent-wrapper .decline-btn {
  box-shadow: inset 0px 0px 0px 1px #26323a;
  box-sizing: content-box;
  padding: 10px 20px;
  height: max-content;
}

h2 {
  font-size: clamp(10px, 2cqw, 14px);
}

.startingPageBg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.startingPageBg::before {
  content: "";
  position: absolute;
  top: 0%;
  width: 200vw;
  height: 100vh;
  background: linear-gradient(
    65deg,
    #170987,
    #d333a3,
    #d33533,
    #d333a3,
    #dc9fed
  );
  background-size: 360% 360%;
  animation: gradient-animation 10s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 75%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 75% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loginFormContainer,
.forgotPassFormContainer,
.registerFormContainer {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 450px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.registerFormContainer {
  max-height: 700px;
}

.loginHeaderContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.loginLogo {
  width: 130px;
  text-align: center;
}

.loginTextMessage {
  font-size: clamp(10px, 2cqw, 12px);
}
.loginForm {
  width: 60%;
  gap: 2cqh;
}

.forgotPassForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2.8vw;
}

.forgotPasswordText {
  font-family: "Enchilada";
  color: #e5a369;
  text-shadow: 2px 2px #f9e8d9;
  font-size: 3.5cqw;
  line-height: 1;
  text-align: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2cqh;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.inputsContainer div {
  position: relative;
}

.inputsContainer div img {
  color: #3b444b;
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  width: 5%;
}

.inputsContainer input {
  width: 100%;
  border: 2px solid #e9e9e9;
  padding: 5px;
}

.blackBtn {
  font-size: clamp(12px, 2cqw, 14px);
  letter-spacing: 0.1em;
  background-color: #26323a;
  color: #ffffff;
  font-weight: 700;
  padding: 7px 15px;
  border: 2px solid #26323a;
  width: 100%;
  margin-bottom: 3%;
  border-radius: 5px;
}

.blackBtn:hover {
  color: #26323a;
  background-color: white;
}

.redBtn {
  border: 4px solid white;
  font-size: clamp(12px, 2cqw, 14px);
  letter-spacing: 0.1em;
  background-color: #ef4444;
  border: 2px solid #ef4444;
  color: #ffffff;
  font-weight: 700;
  padding: 7px 15px;
  width: 100%;
  border-radius: 5px;
}

.redBtn:hover {
  color: #ef4444;
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.space {
  height: 80px;
}

.navContainer {
  display: flex;
  padding: clamp(5px, 1vw, 20px);
  box-sizing: border-box;
  gap: clamp(10px, 2vw, 20px);
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.navContainer #logo {
  height: clamp(24.5px, 3vw, 28px);
  width: auto;
  object-fit: contain;
}

.searchContainer {
  position: relative;
  width: 100%;
}

.searchContainer #searchGlass {
  position: absolute;
  width: clamp(12px, 2cqw, 16px);
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.searchContainer input[type="search"] {
  border-radius: 12px;
  background-color: #f3f3f3;
  padding: 8px 10px 8px 32px;
  height: clamp(24px, 5vw, 40px);
  width: 100%;
}

.searchedUsersContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  width: 100%;
  bottom: -10px;
  transform: translateY(100%);
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 15%);
}

.searchedUser {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.searchedUser:hover {
  border-left: 5px solid #26323a;
  padding-left: 10px;
}

.searchedUser h2 {
  margin-bottom: -3px;
}

.searchedUser p {
  font-family: "Gotham-Book";
  opacity: 50%;
}

.searchedUsersContainer img {
  border-radius: 50%;
  height: clamp(30px, 5vw, 42px);
  width: clamp(30px, 5vw, 42px);
  object-fit: cover;
  object-position: center;
}

.navContainer .profilePictureLink,
.navContainer .addRecipe,
.navContainer #logo {
  transition: 0.33s cubic-bezier(0.29, 0.96, 0.81, 1.43);
}

.navContainer .profilePictureLink:hover,
.navContainer .addRecipe:hover,
.navContainer #logo:hover {
  scale: 1.07;
}

.navContainer .addRecipe img {
  height: clamp(20px, 3vw, 28px);
  width: auto;
  object-position: center;
}

.navContainer .profilePictureLink img {
  border-radius: 25%;
  height: clamp(20px, 3vw, 28px);
  width: auto;
  object-position: center;
}

.dropdownButton {
  height: clamp(18px, 3vw, 28px);
  width: auto;
  cursor: pointer;
  border-radius: 50%;
}

.dropdownButton:hover {
  box-shadow: 0px 0px 0px 2px #26323a;
}

.dropdownButton.open {
  box-shadow: 0px 0px 0px 2px #26323a;
}

.dropdownContainer {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}

.dropdownContentContainer {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  width: clamp(100px, 20vw, 200px);
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 15%);
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  height: 100%;
  justify-content: space-evenly;
}

.dropdownContent a,
.dropdownContent button {
  padding: 3px 0px 3px 10px;
  text-align: left;
  border-radius: 5px;
}

.dropdownContent a:hover {
  background-color: #f3f3f3;
  width: calc(100% - 10px);
}

.dropdownContent button:hover {
  background-color: #ff6060;
  color: white;
  width: calc(100% - 10px);
}

.profileContainer {
  display: flex;
  font-family: "Gotham-Book";
  margin: 20px 20px 10px 20px;
  min-height: 50vh;
  flex-direction: column;
  justify-content: center;
}

.profileInfo {
  position: relative;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.profileInfo h1 {
  font-family: "Gotham-Medium";
  font-size: clamp(18px, 3cqw, 30px);
}

.profileInfo h2 {
  font-family: "Gotham-Medium";
  text-align: center;
  line-height: 1.6;
  max-width: 550px;
}
.profileInfo p {
  font-family: "Gotham-Book";
}

.profilePicture {
  border-radius: 50%;
  height: clamp(160px, 20vw, 200px);
  width: clamp(160px, 20vw, 200px);
  object-fit: cover;
  object-position: center;
}

.profileInfo::before {
  width: 35%;
}

.profileSocialMediaContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 3px;
  justify-content: center;
}

.profileSocialMediaContainer img {
  width: auto;
  height: clamp(24px, 2cqw, 26px);
}

.searchRecipesContainer {
  position: relative;
  width: 100%;
  padding: 0 20px;
}

.searchRecipesContainer img {
  position: absolute;
  width: clamp(12px, 2cqw, 16px);
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.searchRecipesContainer input[type="search"] {
  border-radius: 12px;
  background-color: #f3f3f3;
  padding: 8px 10px 8px 32px;
  height: clamp(30px, 5vw, 40px);
  width: 100%;
}

.divider {
  height: 2px;
  width: 50%;
  margin: auto;
  background: #e9e9e9;
  margin-bottom: 20px;
}

.dividerInstructions {
  height: 1px;
  margin: auto;
  background: #e9e9e9;
  width: 80%;
}

.newUserButtons {
  display: flex;
  gap: clamp(10px, 2.5vw, 20px);
}

.newUserButtons button {
  padding: 5px clamp(7px, 2vw, 20px);
  border-radius: 5px;
  color: white;
  background-color: #26323a;
}

.categories {
  display: flex;
  flex-direction: row;
  padding: 0 25px;
  margin-bottom: 20px;
  margin-top: 2px;
  column-gap: 10px;
  flex-wrap: wrap;
}

.categories span {
  position: relative;
  padding: 5px 0px 0px 0px;
  font-family: "Gotham-Medium";
}

.categories span::after {
  position: absolute;
  width: 40%;
  height: 1.5px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #0c1216;
}

.masonryContainer {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin: 0 20px 20px 20px;
  gap: clamp(10px, 2vw, 15px);
  margin-top: 10px;
  /*animation: fadeInFromBottom 0.5s linear;*/
}

.masonryContainerMainPage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 20px 20px 20px;
  gap: clamp(10px, 2vw, 15px);
  margin-top: 10px;
  /*animation: fadeInFromBottom 0.5s linear;*/
}

.masonryColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.masonryImg {
  max-width: 100%;
}

.masonryImg img {
  border-radius: clamp(15px, 2vw, 20px);
  width: 100%;
  height: auto;
}

.masonryImg h1 {
  font-family: "Gotham-Medium";
  margin: 5px 0 12px 6px;
}

.recipeSettingsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}

.recipeSettingsContainer img {
  height: clamp(12px, 3cqw, 16px);
  width: auto;
  margin-right: 5px;
}
.noRecipesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: clamp(60px, 10vh, 100px);
}

.noRecipesContainer h1 {
  font-size: clamp(18px, 3cqw, 30px);
}

.recipeContainer {
  position: fixed;
  z-index: 10;
  display: flex;
  height: 85%;
  width: 60%;
  min-width: 830px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f7f7f7;
  border-radius: 15px;
}

.recipeBackground {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0000009e;
}

.recipeBackground img {
  position: absolute;
  right: 20px;
  top: 20px;
  width: clamp(20px, 4cqw, 30px);
  cursor: pointer;
}

.recipeLeftSideWrapper {
  width: 80%;
  padding: 30px;
  --mask: radial-gradient(
        67.08px at calc(100% - 90px) 50%,
        #000 99%,
        #0000 101%
      )
      0 calc(50% - 60px) / 100% 120px,
    radial-gradient(67.08px at calc(100% + 60px) 50%, #0000 99%, #000 101%)
      calc(100% - 30px) 50%/100% 120px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  background: white;
  mask: var(--mask);
  font-size: 14px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 15px 0 0 15px;
}

.recipeUserContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 6px;
}

.recipeUserContainer img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  object-fit: cover;
  overflow: hidden;
  background-color: #f3f3f3;
}

.recipeUserContainer h2 {
  font-family: "Gotham-Book";
  font-weight: bold;
}

.recipeLeftSideWrapper h1 {
  font-family: "Gotham-Black";
  font-size: clamp(25px, 2cqw, 34px);
  margin-bottom: clamp(25px, 2cqw, 50px);
}

.recipeRightSideWrapper {
  width: 100%;
  background: #f7f7f7;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeImageContainer {
  height: 100%;
  max-height: 70%;
  width: 100%;
}

.recipeRightSideWrapper img {
  margin: 20px 0;
  width: 85%;
  height: 60%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

.recipeMacroContainer {
  display: flex;
  width: 100%;
  align-items: flex-end;
  white-space: nowrap;
}

.doughnutChart {
  height: 100px !important;
  width: 100px !important;
  margin-left: -1.5px;
}

.macroInfo {
  height: 100%;
  display: flex;
  flex-basis: 20%;
  align-items: left;
  gap: 2px;
  flex-direction: column;
  margin: 20px 0;
}

.macroInfo p {
  font-size: clamp(10px, 2cqw, 13px);
}

.carbsColor {
  height: 5px;
  border-radius: 3px;
  width: 36px;
  background-color: #ff829d;
}

.proteinColor {
  height: 5px;
  border-radius: 3px;
  width: 36px;
  background-color: #5eb4ef;
}

.fatColor {
  height: 5px;
  border-radius: 3px;
  width: 36px;
  background-color: #ffd878;
}

.caloriesColor {
  height: 5px;
  border-radius: 3px;
  width: 36px;
  background-color: #a9b0b4;
}

.nutritionContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.macroContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipeInformationContainer tbody {
  font-size: 14px;
}

.recipeInstructionsContainer {
  padding: 0 20px;
}

tbody {
  font-size: clamp(12px, 2cqw, 14px);
}

.recipeInstructionsContainer table {
  border-spacing: 0 10px;
  border-collapse: separate;
}

.recipeIngredientsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.mealsContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 0.5px;
}

.mealsContainer img {
  height: 24px;
  width: auto;
}

.mealsContainer p {
  font-size: larger;
}

.recipeIngredientsContainer table {
  border-spacing: 0 5px;
  border-collapse: separate;
}

.recipeTitle {
  font-family: "Gotham-Bold";
  font-size: larger;
}

.recipeIngredientsContainer td {
  padding-right: 25px;
}

.recipeIngredientsContainer td.amount {
  display: flex;
  white-space: nowrap;
}

.recipeInstructionsContainer tbody {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#instructionIndex {
  width: 20px;
  flex: none;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.errorContainer h1 {
  font-size: clamp(18px, 3cqw, 30px);
}

.editForm {
  font-family: "Gotham-Book";
  margin: 20px 20px 10px 20px;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.editForm h1 {
  margin-top: clamp(5px, 1vw, 15px);
}

.editProfilePicutre {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: auto;
  background-color: #f3f3f3;
  cursor: pointer;
}

.editPreviewProfilePicture {
  filter: contrast(0.4);
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.editProfilePicutre .editCamera {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
}

.editInputContainer {
  position: relative;
  width: clamp(300px, 30%, 50%);
}

.editForm label {
  position: absolute;
  font-family: "Gotham-Medium";
  top: 50%;
  left: -15px;
  transform: translate(-100%, -50%);
}

.editInputContainer input {
  font-family: "Gotham-Medium";
  text-align: center;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 0 2px 9px;
  box-sizing: border-box;
  width: 100%;
}

.editForm input::placeholder,
.editForm textarea::placeholder {
  font-style: italic;
  font-family: "Gotham-Medium";
}

.editTextareaContainer {
  position: relative;
  width: clamp(300px, 30%, 50%);
}

.editForm textarea {
  font-family: "Gotham-Medium";
  text-align: center;
  line-height: 1.6;
  padding: 4px 3px;
  height: 120px;
  border: 2px solid #bababa;
  border-radius: 5px;
  resize: none;
  width: 100%;
}

.editSocialMediaWrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: clamp(300px, 30%, 50%);
}

.editForm h1 {
  font-family: "Gotham-Medium";
}

.editSocialMediaContainer {
  position: relative;
}

.editSocialMediaContainer input {
  font-family: "Gotham-Medium";
  width: 100%;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 4px 0px 4px 8px;
  box-sizing: border-box;
  width: 100%;
}

.editPasswordContainer {
  position: relative;
  width: clamp(300px, 30%, 50%);
}

.editPasswordContainer input {
  font-family: "Gotham-Medium";
  width: 100%;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 4px 0px 4px 8px;
  box-sizing: border-box;
  width: 100%;
}

.editForm button[type="submit"] {
  padding: 5px 20px;
  border-radius: 5px;
  width: 100%;
  color: white;
  background-color: #26323a;
  width: clamp(300px, 30%, 50%);
}

.profileInfo p {
  font-family: "Gotham-Book";
}

.addRecipeForm {
  font-family: "Gotham-Book";
  margin: 20px 20px 50px 20px;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.editRecipeImage {
  position: relative;
  border-radius: 10%;
  overflow: hidden;
  height: 250px;
  width: auto;
  background-color: #f3f3f3;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.editRecipeImagePreview {
  filter: contrast(0.4);
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.editRecipeImage .editCamera {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
}

.addRecipeTitle {
  font-family: "Gotham-Medium";
  font-size: clamp(20px, 3cqw, 24px);
}

.addRecipeInputContainer {
  position: relative;
  width: clamp(300px, 30%, 50%);
}

.recipeTitleContainer {
  position: relative;
  height: 30px;
  width: clamp(300px, 30%, 50%);
}

.recipeTitleContainer input {
  font-family: "Gotham-Medium";
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 0 2px 9px;
  box-sizing: border-box;
  width: 100%;
}

.recipeTitleContainer input::placeholder {
  font-style: italic;
}

.addRecipeForm .recipeLabel {
  position: absolute;
  font-family: "Gotham-Medium";
  top: 50%;
  left: -15px;
  transform: translate(-100%, -50%);
}

.cookieConsentSwitchContainer {
  width: max-content;
  margin: auto;
}

.addRecipeSwitchContainer {
  position: relative;
  height: 30px;
  width: clamp(300px, 30%, 50%);
}

.addRecipeSwitchContainer h1 {
  position: absolute;
  font-family: "Gotham-Medium";
  top: 50%;
  left: -15px;
  transform: translate(-100%, -50%);
}

.addRecipeSwitchContainer span,
.cookieConsentSwitchContainer span {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
  border-radius: 25px;
  background: #e9e9e9;
  transition: all 0.2s ease-out;
  cursor: pointer;
  transition: 0.33s ease-in-out;
}

.addRecipeSwitchContainer span::before,
.cookieConsentSwitchContainer span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  height: 22px;
  width: 22px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 0.33s ease-in-out;
}

.cookieConsentSwitchContainer .sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sliderContainer input {
  display: none;
}

.sliderContainer input:checked + .slider {
  background: #26323a;
}

.sliderContainer input:checked + span::before {
  transform: translate(100%, -50%);
}

.addNutritionsContainer {
  position: relative;
  height: 30px;
  width: clamp(300px, 30%, 50%);
}

.addNutritionsContainer .nutritionLabel {
  position: absolute;
  font-family: "Gotham-Medium";
  top: 50%;
  left: -40px;
  transform: translate(-100%, -50%);
}

.addNutritionsContainer input {
  font-family: "Gotham-Medium";
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 0 2px 9px;
  box-sizing: border-box;
  width: 100%;
}

.recipeSpace {
  height: 1px;
  border-radius: 25%;
  width: clamp(300px, 30%, 50%);
  background: #e9e9e9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.recipe {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  background: #f3f3f3;
  width: clamp(300px, 30%, 50%);
  padding: 3px;
}

.addComponentsContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  width: 100%;
  justify-content: space-between;
}

.addComponentsContainer .nutritionLabel {
  position: absolute;
  font-family: "Gotham-Medium";
  top: 50%;
  left: -40px;
  transform: translate(-100%, -50%);
}

.addComponentsContainer input {
  font-family: "Gotham-Medium";
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 0 2px 9px;
  box-sizing: border-box;
  width: 95%;
}

.addComponentsContainer input::placeholder {
  font-style: italic;
}

.crossIcon {
  position: relative;
  display: inline-block;
  width: 7%;
  height: 20px;
  cursor: pointer;
}

.crossIcon::before,
.crossIcon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: black;
  transform: translate(-50%, -50%) rotate(45deg);
}

.crossIcon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.addIngredientsContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  width: 100%;
}

.addButtons {
  display: flex;
  gap: 5px;
  height: 30px;
  width: clamp(300px, 30%, 50%);
}

.addButtons button {
  font-family: "Gotham-Medium";
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 9px 2px 9px;
  box-sizing: border-box;
}

.addIngredientsContainer .amount {
  font-family: "Gotham-Medium";
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 0 2px 4px;
  margin-right: 1%;
  box-sizing: border-box;
  width: 15%;
}

.addIngredientsContainer .unit {
  font-family: "Gotham-Medium";
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 0 2px 4px;
  margin-right: 1%;
  box-sizing: border-box;
  width: 15%;
}

.addIngredientsContainer .ingredient {
  font-family: "Gotham-Medium";
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 0 2px 9px;
  box-sizing: border-box;
  width: 63%;
}

.addIngredientsContainer input::placeholder {
  font-style: italic;
}

.addServingsContainer {
  position: relative;
  height: 30px;
  width: clamp(300px, 30%, 50%);
}

.addServingsContainer input {
  font-family: "Gotham-Medium";
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 0 2px 9px;
  box-sizing: border-box;
  width: 100%;
}

.addInstructionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: clamp(300px, 30%, 50%);
}

.addInstructionsContainer textarea {
  font-family: "Gotham-Medium";
  resize: none;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  padding: 2px 9px 2px 9px;
  box-sizing: border-box;
  width: 100%;
}

.addRecipeForm button[type="submit"] {
  padding: 5px 20px;
  border-radius: 5px;
  width: 100%;
  color: white;
  background-color: #26323a;
  width: clamp(300px, 30%, 50%);
}

.addRecipeForm button.delete {
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  background-color: #ff4242;
  width: clamp(300px, 30%, 50%);
}

/* Tablet Mode */ /* Tablet Mode */ /* Tablet Mode */ /* Tablet Mode */

@media screen and (max-width: 1024px) {
  .cookie-consent-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .loginFormContainer,
  .forgotPassFormContainer,
  .registerFormContainer {
    max-height: 100%;
    border-radius: initial;
  }
  .editForm label {
    position: initial;
    display: flex;
    transform: initial;
  }

  .recipe {
    gap: 15px;
  }

  .recipeTitleContainer,
  .addServingsContainer,
  .addRecipeSwitchContainer,
  .addNutritionsContainer,
  .addComponentsContainer,
  .addIngredientsContainer {
    height: auto;
  }

  .addRecipeForm .recipeLabel {
    position: initial;
    display: flex;
    transform: initial;
  }

  .addComponentsContainer,
  .addIngredientsContainer {
    display: initial;
    align-items: initial;
    flex-direction: column;
  }

  .crossIcon {
    left: 2.5%;
    display: inline;
  }

  .addRecipeSwitchContainer h1 {
    position: initial;
    transform: initial;
  }

  .addRecipeSwitchContainer span {
    width: 41.6px;
    height: 21.4px;
  }

  .addRecipeSwitchContainer span::before {
    width: 16px;
    height: 16px;
  }

  .addNutritionsContainer .nutritionLabel {
    position: initial;
  }

  .addInstructionsContainer {
    display: grid;
    grid-template-areas:
      "label label"
      "textarea remove";
    grid-template-columns: 95% 5%;
  }

  .addInstructionsContainer .recipeLabel {
    grid-area: label;
  }

  .addInstructionsContainer textarea {
    grid-area: textarea;
  }

  .addInstructionsContainer span {
    grid-area: remove;
    justify-self: flex-end;
  }

  .recipeContainer {
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
  }

  .recipeIngredientsContainer table {
    margin-left: 4%;
  }

  .recipeRightSideWrapper {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: initial;
  }

  .recipeContainer {
    flex-direction: column;
    width: 80%;
    min-width: 0;
  }

  .recipeLeftSideWrapper {
    width: 100%;
    padding: 0 0 50px 0;
    overflow-y: initial;
    --mask: radial-gradient(
          67.08px at 50% calc(100% - 90px),
          #000 99%,
          #0000 101%
        )
        calc(50% - 60px) 0 / 120px 100%,
      radial-gradient(67.08px at 50% calc(100% + 60px), #0000 99%, #000 101%)
        50% calc(100% - 30px) / 120px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
  .recipeLeftSideWrapper .recipe-image {
    width: 150px;
    border-radius: 15px;
    margin-left: auto;
    height: 200px;
    object-fit: cover;
  }

  .recipeLeftSideWrapper h1 {
    font-size: 18px;
  }

  .macroInfo {
    align-items: center;
  }

  .recipeLeftSideWrapper h1,
  .recipeUserContainer {
    margin-bottom: 10px;
  }

  .recipeUserContainer {
    margin-top: 4%;
  }

  .recipeMacroContainer {
    white-space: initial;
  }

  .nutritionContainer {
    align-content: center;
    text-align: center;
  }

  .macroContainer {
    gap: 0;
    flex-wrap: wrap;
    width: 100%;
  }

  .mealsContainer {
    margin-left: 4%;
  }
}

/* Mobile Mode */ /* Mobile Mode */ /* Mobile Mode */ /* Mobile Mode */

@media (max-width: 768px) {
  .masonryContainer,
  .masonryContainerMainPage {
    animation: none;
  }

  .recipeContainer {
    width: 100%;
    height: 95%;
    top: initial;
    bottom: 0;
    transform: translate(-50%, 0%);
    border-radius: 15px 15px 0 0;
  }

  .recipeBackground{
    top:0;
    height: 10%;
    transform: translate(-50%, 0%);
  }

  .recipeBackground img {
    right: 5px;
    top: 5px;
  }
}
